@model ASI.Basecode.Services.ServiceModels.TicketViewModel

<div>
    @if (User.IsInRole("Admin") || User.IsInRole("Support Agent"))
    {
        if (Model.StatusType.StatusName != "Resolved" && Model.StatusType.StatusName != "Closed")
        {
            <a href="#" title="Update Tracking" class="fas fa-sync action-icon mr-1" data-toggle="modal" data-target="#updateTrackingModal"></a>
            <a href="#" title="Update Assignment" class="fas fa-user-edit action-icon mr-1" data-toggle="modal" data-target="#updateAssignmentModal"></a>
            if (Model.TicketAssignment == null)
            {
                <a href="#" title="Update Category" class="fas fa-tags action-icon mr-1" data-toggle="modal" data-target="#updateCategoryModal"></a>
            }
        }
    }
    else
    {
        if (Model.StatusType.StatusName != "Resolved" && Model.StatusType.StatusName != "Closed")
        {
            <a href="#" title="Update Ticket Details" class="fas fa-edit action-icon mr-1" data-toggle="modal" data-target="#editTicketModal"></a>
            <a href="#" title="Update Tracking" class="fas fa-sync action-icon mr-1" data-toggle="modal" data-target="#updateTrackingModal"></a>
            if (Model.TicketAssignment == null)
            {
                <a href="#" title="Update Category" class="fas fa-tags action-icon mr-1" data-toggle="modal" data-target="#updateCategoryModal"></a>
            }
        }
        if (Model.StatusType.StatusName == "Resolved")
        {
            <a href="#" title="Reopen Ticket" type="button" class="fas fa-redo action-icon mr-1" data-toggle="modal" data-target="#reopenTicketModal"></a>
            <a href="#" title="Close Ticket" type="button" class="fas fa-times action-icon mr-1" data-toggle="modal" data-target="#reopenTicketModal"></a>
        }
        @if (Model.Feedback == null && User.IsInRole("Employee") && Model.StatusType.StatusName == "Closed")
        {
            <a href="#" title="Provide Feedback" class="fa fa-commenting action-icon mr-1" data-toggle="modal" data-target="#feedbackModal"></a>
        }
    }
</div>