@model LoginViewModel
@using static ASI.Basecode.Resources.Views.Screen
@section styles {
    <link rel="stylesheet" href="~/css/login.css" />
}
@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Login Page";
}
<div>
    @Html.AntiForgeryToken()
</div>
<div class="container d-flex justify-content-center align-items-center" style="height:calc(100vh - 64px);">
    <div class="row w-100 justify-content-center align-items-center">
        <div class="col-5">
            <div class="text-center">
                <img class="mb-4"
                     src="~/img/ticketita-logo.svg"
                     style="width: 185px;" alt="ticketita logo">
                <h4 class="font-weight-bold mb-4">Sign in to your account</h4>
            </div>
            <div class="card rounded-3 text-color">
                <div class="card-body p-md-5 mx-md-4">
                    <form method="post" action="/Account/Login" id="loginForm">
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example11">Email Address</label>
                            <input type="text" id="form2Example11" class="form-control"
                                   asp-for="Email" placeholder="" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example22">@Password</label>
                            <input type="password" id="form2Example22" class="form-control"
                                   asp-for="Password" placeholder="" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="text-center pt-1 pb-1 d-flex flex-column align-items-center">
                            <button class="btn btn-primary btn-block login-btn font-weight-bold mb-2" type="submit">
                                Sign in
                            </button>
                            <div>
                                <a class="text-muted" href="#!">@ForgotPass</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        // Check for error message and display Toastr notification
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage);
        }
    </script>
}