@model ASI.Basecode.Services.ServiceModels.TeamViewModel

<div class="modal fade" id="addAgentModal" tabindex="-1" role="dialog" aria-labelledby="addAgentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAgentModalLabel">Add Unassigned Agent</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addAgentForm">
                    <input type="hidden" id="TeamId" name="TeamId" value="@Model.TeamId" />
                    <div class="form-group">
                        <label for="AgentId">Select Agent</label>
                        <select class="form-control" id="AgentId" name="AgentId">
                            <option value="">-- Add Agent --</option>
                            @foreach (var agent in ViewBag.UnassignedAgents)
                            {
                                <option value="@agent.UserId">@agent.Name - @agent.Email</option>
                            }
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="submitAddAgent()">Add Agent</button>
            </div>
        </div>
    </div>
</div>
