@model ASI.Basecode.Services.ServiceModels.TeamViewModel
@using ASI.Basecode.Data.Models;

@{
    var teams = ViewBag.Teams as List<Team>;
}

<div class="modal fade" id="reassignAgentModal" tabindex="-1" role="dialog" aria-labelledby="reassignAgentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reassignAgentModalLabel">Reassign Agent</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="reassignAgentForm" method="post" asp-controller="Team" asp-action="ReassignAgent">
                    <input type="hidden" id="oldTeamId" name="oldTeamId" value="" />
                    <input type="hidden" id="agentId" name="agentId" value="" />
                    <div class="form-group">
                        <label for="newTeamId" class="control-label">Select New Team</label>
                        <select id="newTeamId" name="newTeamId" class="form-control">
                            <option value="">-- Unassign --</option>
                            @foreach (var teamGroup in teams.OrderBy(t => t.Specialization.CategoryName).GroupBy(t => t.Specialization.CategoryName))
                            {
                                <optgroup label="@teamGroup.Key">
                                    @foreach(var team in teamGroup)
                                    {
                                        <option value="@team.TeamId">@team.Name</option>
                                    }
                                </optgroup>
                            }
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="submitReassignAgent()">Reassign</button>
            </div>
        </div>
    </div>
</div>
