.card {
    border-radius: 10px;
    border: 1px solid var(--border-color);
}

.card-color {
    background: linear-gradient(-62.27deg, #1A2766 0%, #5D2246 26%, #AE1B1E 50%, #CE5126 75%, #FC9F32 100%);
    color: white;
}

.card-body-custom {
    display: flex;
    flex-direction: column;
    height: 200px;
}

.mt-auto-end {
    margin-top: auto;
    text-align: end;
    font-size: xx-large;
    font-weight: bold;
}

.notification-container {
    border-left: 1px solid var(--border-color);
}

.notification {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
}

a:hover {
    color: black;
    text-decoration: none;
}

.star-rating {
    font-size: 2em;
    color: lightgray;
    display: inline-block;
}

    .star-rating .star.selected {
        color: gold;
    }