body {
    background-color: var(--background-color5) !important;
}

.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: sticky;
    width: 250px;
    min-height: 100vh;
    background-color: var(--background-color1);
    z-index: 100;
    padding: 20px;
    border-right: 1px solid var(--border-color);
    font-weight: bold;
}
.user-info {
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    padding-top: 10px; 
    margin-top: auto;
    text-align: center; 
}

    .user-info .icon {
        font-size:32px;
        margin-right: 10px;
        margin-left:20px;

    }

    .user-info .text {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }


.list-unstyled li a {
    text-decoration: none;
    color: var(--text-color-gray);
}

.list-unstyled li a:hover {
    text-decoration: none;
    color: black;
}

.list-unstyled li a.active {
    color: black;
}


.list-unstyled {
    padding-left: 15px;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.footer {
    border-top: 1px solid var(--border-color);
    text-align: center;
    margin-top: auto;
    padding: 10px;
}

.modal-footer {
    background-color: var(--background-color5) !important;
}