.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    position: sticky;
    width: 200px;
    height: 100vh;
    background-color: var(--background-color1);
    z-index: 100;
    padding: 20px;
    border-right: 1px solid var(--border-color);
    font-weight: bold;
}

.list-unstyled li a {
    text-decoration: none;
    color: var(--text-color-gray);
}

.list-unstyled li a:hover {
    text-decoration: none;
    color: black;
}

.list-unstyled li a.active {
    color: black;
}


.list-unstyled {
    padding-left: 15px;
}

.content {
    flex-grow: 1;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    flex-direction: column;
}

.footer {
    border-top: 1px solid var(--border-color);
    text-align: center;
    margin-top: auto;
    padding: 10px;
}

