html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

/*body {
    margin-bottom: 60px;
}*/

/*.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
}

#footer {
    height: 160px;
    margin-left: 0px;
    transition: margin-left 0.2s;
}*/

.wrapper {
    min-height: 100vh;
    position: relative;
    height: auto
}

.hide-navbar {
    display: none;
}


 Initially hide the dropdown 
.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

     Style the dropdown list 
    .dropdown ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .dropdown ul li {
            padding: 10px;
        }

             Style the links in the dropdown 
            .dropdown ul li a {
                text-decoration: none;
                color: #333;
            }

.dropdown-open {
    display: block;
    width: 140px
}

.mr-20 {
    margin-right: 20px;
}

.w-1000px {
    width: 1000px;
}

.w-1150px {
    width: 1150px;
}

.h-200px {
    height: 500px;
}

.text-36px {
    font-size: 36px;
}

.text-16px {
    font-size: 16px;
}

/* Custom styles for the performance report modal */
.performance-report {
    color: #003366; /* Adjust as needed */
    padding: 20px;
}

    .performance-report .header {
        background-color: #003366; /* Adjust as needed */
        color: white;
        padding: 15px;
        margin-bottom: 15px;
    }

    .performance-report .summary {
        margin-bottom: 15px;
    }

    .performance-report hr {
        border-color: #003366; /* Adjust as needed */
    }

    .performance-report table {
        width: 100%;
        border-collapse: collapse;
    }

        .performance-report table th,
        .performance-report table td {
            padding: 10px;
            text-align: left;
        }

        .performance-report table th {
            background-color: #003366; /* Adjust as needed */
            color: white;
        }

        .performance-report table tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

/* Styles for average rating */
.average-rating {
    display: flex;
    align-items: center; /* Align items vertically centered */
}

    .average-rating p {
        margin-right: 10px;
        margin-bottom: 0; /* Ensure the paragraph has no bottom margin */
    }

/* Styles for star ratings */
.star-rating {
    display: inline-block;
}

.star {
    font-size: 1.5em;
    color: #ccc; /* Color for empty stars */
}

    .star.filled {
        color: #f39c12; /* Color for filled stars */
    }
