.modal-content-user {
    color: white;
    background-color: var(--primary-color);
}

.modal-dialog-wide {
    width: 500px; /* Adjust the width as needed */
}

.custom-close-button {
    background-color: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
    border: none;
    font-size: 30px;
}

    .custom-close-button:hover {
        background-color: var(--primary-color);
        border-color: white;
        color: white;
    }
    .custom-close-button:active, .custom-close-button:focus {
        background-color: var(--primary-color);
        border-color: white;
        color: white;
        box-shadow: none;
    }

